<div class="table-responsive">
  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
      <tr>
        <th>ID</th>
        <th>Company</th>
        <th>Department</th>
        <th>JD</th>
        <th>Level</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>ID</th>
        <th>Company</th>
        <th>Department</th>
        <th>JD</th>
        <th>Level</th>
      </tr>
    </tfoot>
    {% if t_post_list %}
    <tbody>
      {% for post in t_post_list %}
      <tr>
        <td>
            {{ post.id }}
        </td>
        <td>{{ post.company.name }} </td>
        <td>{{ post.department.name }}</td>
        <td>{{ post.name }} </td>
        <td>{{ post.level }} </td>
      </tr>
      {% endfor %}
    </tbody>
    {% endif %}
  </table>
</div>
