.sidebar2.left {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 270px;
    background: #448AFF;
}

.sidebar2.right {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 400px;
    background: #edebce;
    z-index: 100;
}

.sidebar2.bottom {
    left: 0;
    right: 0;
    bottom: 0;
    height: 270px;
    background: #03A9F4;
}

.sidebar2.top {
    left: 0;
    right: 0;
    top: 0;
    height: 270px;
    background: #03A9F4;
}

.sidebar2s > .sidebar2 {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.64);
    position: fixed;
    padding: 1px;
    font-size: 2em;
    text-align: center;
}
