{% extends "recruit_manager/table_basic.html" %}
{% load static %}
{% block content %}

<form name='filter_form' id="post_filter_form">
    {% csrf_token %}


	<div clasv class="card">
        <div class="card-header" id="headingTwo">
             <strong>填写项目信息</strong>
        </div>
        <div class="card-body" style="padding: 0.5rem;">
          <div class="row">
            <?-- Inner Filter -->
            <div class="col-md-3 input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">项目名称 *</span>
              </div>
			  <input type="text" class="form-control" name="project_name" id="project_id" value="">
            </div>
		  </div>
        </div>
      </div>



	<?--Project Info-->
	<div clasv class="card">
        <div class="card-header" id="headingTwo">
             <strong>填写公司信息</strong>
        </div>
        <div class="card-body" style="padding: 0.5rem;">
		  <div class="row">
            <div class="col-md-3 input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">公司名称 *</span>
              </div>
			  <input type="text" class="form-control" name="company_name" id="company_id" value="">
            </div>

            <div class="col-md-3 input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">部门名称 *</span>
              </div>
			  <input type="text" class="form-control" name="department_name" id="department_id" value="">
            </div>

            <div class="col-md-3 input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">岗位名称 *</span>
              </div>
			  <input type="text" class="form-control" name="post_name" id="post_id" value="">
            </div>
            <?-- Innter Filter-->
          </div>
        </div>
      </div>
      <?-- Filter -->

	<?--Project Info-->
	<div clasv class="card">
        <div class="card-header" id="headingTwo">
              <strong>岗位要求设置</strong>
        </div>

        <div class="card-body" style="padding: 0.5rem;">
          <div class="row">
            <?-- Inner Filter -->
            <div class="col-md-3 input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1" style="width:70px">最低学历</span>
              </div>
              <select class="form-control" id="degree_id_min" name="degree_id_min" aria-labelledby="basic-addon1">
                <option>不限</option>
                <option>初中</option>
                <option>高中</option>
                <option>大专</option>
                <option>本科</option>
                <option>硕士</option>
                <option>博士</option>
              </select>
            </div>

            <div class="col-md-3 input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon2">最小年龄</span>
              </div>
              <input type="text" class="form-control" name="age_id_min" id="age_id_min" placeholder="0" value=""></input>
            </div>

            <div class="col-md-3 input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon2" style="width:90px">毕业区间Start</span>
              </div>
              <select class="form-control" id="graduate_time_start" name="graduate_time_start" aria-labelledby="basic-addon1">
                <option>不限</option>
                <option>2000</option>
                <option>2001</option>
                <option>2002</option>
                <option>2003</option>
                <option>2004</option>
                <option>2005</option>
                <option>2006</option>
                <option>2007</option>
                <option>2008</option>
                <option>2009</option>
                <option>2010</option>
                <option>2011</option>
                <option>2012</option>
                <option>2013</option>
                <option>2014</option>
                <option>2015</option>
                <option>2016</option>
                <option>2017</option>
                <option>2018</option>
                <option>2019</option>
              </select>
            </div>

            <div class="col-md-3 input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">工作地点.省</span>
              </div>
              <input type="text" class="form-control" name="working_place_province" id="province_id" placeholder="省" value=""></input>
            </div>

            <?-- Innter Filter-->
          </div>
          <div class="row">
            <?-- Inner Filter -->
            <div class="col-md-3 input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon2" style="width:70px">最高学历</span>
              </div>
              <select class="form-control" id="degree_id_max" name="degree_id_max" aria-labelledby="basic-addon2">
                <option>不限</option>
                <option>初中</option>
                <option>高中</option>
                <option>本科</option>
                <option>硕士</option>
                <option>博士</option>
              </select>
            </div>

            <div class="col-md-3 input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon4">最大年龄</span>
              </div>
              <input type="text" class="form-control" name="age_id_max" id="age_id_max" placeholder="最高年龄" value=""></input>
            </div>


            <div class="col-md-3 input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon2" style="width:90px">毕业区间.End</span>
              </div>
              <select class="form-control" id="graduate_time_end" name="graduate_time_end" aria-labelledby="basic-addon1">
                <option>不限</option>
                <option>2000</option>
                <option>2001</option>
                <option>2002</option>
                <option>2003</option>
                <option>2004</option>
                <option>2005</option>
                <option>2006</option>
                <option>2007</option>
                <option>2008</option>
                <option>2009</option>
                <option>2010</option>
                <option>2011</option>
                <option>2012</option>
                <option>2013</option>
                <option>2014</option>
                <option>2015</option>
                <option>2016</option>
                <option>2017</option>
                <option>2018</option>
                <option>2019</option>
              </select>

            </div>

            <div class="col-md-3 input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">工作地点.市</span>
              </div>
              <input type="text" class="form-control" name="working_place_city" id="city_id" placeholder="市" value=""></input>
            </div>

		   </div>

		   <div class="row">

            <div class="col-md-3 input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon2" style="width:70px">性别</span>
              </div>
              <select class="form-control" name="gender_id" id="gender_id">
                <option>不限</option>
                <option>男</option>
                <option>女</option>
              </select>
            </div>

            <div class="col-md-3 input-group">
            </div>

            <div class="col-md-3 input-group">
            </div>

            <div class="col-md-3 input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">工作地点.区</span>
              </div>
              <input type="text" class="form-control" name="working_place_district" id="district_id" placeholder="区" value=""></input>
            </div>

	         <div class="col-md-3 form-group" style="display:none;">
              <label> 工作地点 </label>
              <select class="form-control" id="province_id">
                <option>不限</option>
                <option>北京</option>
                <option>上海</option>
                <option>杭州</option>
              </select>
            </div>

            <?-- Innter Filter-->
          </div>
        </div>
      </div>
      <?-- Filter -->


	<?--Project Info-->
	<div clasv class="card">
        <div class="card-header" id="headingFour">
              <strong>岗位其他信息</strong>
        </div>
        <div class="card-body" style="padding: 0.5rem;">
		   <div class="row">

            <div class="col-md-3 input-group" >
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon2">起薪</span>
              </div>
              <input type="text" class="form-control" name="min_salary_id" id="min_salary_id" placeholder="元/月" value=""></input>
            </div>

            <div class="col-md-3 input-group" >
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon2">公司联系人姓名</span>
              </div>
              <input type="text" class="form-control" name="linkman_name" id="linkman_name" placeholder="" value=""></input>
            </div>

            <div class="col-md-3 input-group" >
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon2">电话</span>
              </div>
              <input type="text" class="form-control" name="linkman_phone" id="linkman_phone" placeholder="" value=""></input>
            </div>



            <div class="col-md-3 input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon2">百应任务</span>
              </div>
              <select class="form-control" id="baiying_task_id" name="baiying_task_id" aria-labelledby="basic-addon2">
              </select>
            </div>

            <?-- Innter Filter-->
          </div>
        </div>
        </div>
      </div>
      <?-- Filter -->

    <div class="row col-md-24 mt-1">
      <div class="col-md-3 form-group">
        <button type='submit' class="btn btn-primary" id='post_button_id'>确认发布</button>
      </div>
    </div>
</form>

<div class="table-responsive">
  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
      <tr>
        <th>ID</th>
        <th>*Company</th>
        <th>*Department</th>
        <th>*Name</th>
        <th>*JD</th>
      </tr>
    </thead>
  </table>
</div>
{% endblock %}

{% block extra_js %}
<script>
 $(document).ready(function() {
   var selected = [];
   var table = $('#dataTable').DataTable({
     "processing": true,
     "serverSide": true,

     "ajax": {
       "url": "/api/posts/",
       "type": "GET",
     },

     "rowCallback": function(row, data) {
       if ($.inArray(data.DT_RowId.toString(), selected) !== -1 ) {
         $(row).addClass('selected');
       }

     },

     "columns": [
       {"data": "id"},
       {"data": "department.company.name"},
       {"data": "department.name"},
       {"data": "name"},
       {"data": "description"},
     ],
   });

   $('#dataTable tbody').on('click', 'tr', function() {
     var id = this.id;
     var index = $.inArray(id, selected);

     if ( index === -1 ) {
       selected.push(id);
     } else {
       selected.splice(index, 1);
     }

     $(this).toggleClass('selected');
   });

   $('#id_b_submit').on('click', function() {
     console.log(selected);
     localStorage['post'] = selected[0];
   });
   $('#post_button_id').on('click', function() {
     postAjaxSubmit()
     table.draw()
   });
 });
 function postAjaxSubmit() {
   $.ajax({
     "url": "/post/post/update/",
     "type":"POST",
	 "data":$('#post_filter_form').serialize(),
   });
 }

  $.ajax({
      type: "GET",
      url:'/interview/ai/task',
      async:false,
      dataType: "json",
      success: function(data){
        $('#baiying_task_id').html("")
        $('#baiying_task_id').prepend('<option value="">请选择任务</option>');
        if (data !='') {
          $.each(data.ai_taskId,function(index, ele) {
            $('#baiying_task_id').append('<option value="baiying_task_id' + index + '">' + ele + '</option>');
          });
        }
      }
    });

</script>
{% endblock%}
