{% extends "accounts/base.html" %}
{% load i18n %}
{% block content %}

<a href="https://api.weibo.com/oauth2/authorize?client_id=2616154578&response_type=code&redirect_uri=http://127.0.0.1:8000/process/"><i class="fab fa-weibo"></i></a>
<p>
  {% blocktrans %}
  <a href="/accounts/signup">还没有账户? 请注册</a>.
  {% endblocktrans %}
</p>

<form id="signin_form" method="post" action="{% url 'accounts_signin' %}">
  {% csrf_token %}
  <div class="row">
  <div class="col-md-12 input-group">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">姓名</span>
    </div>
	<input type="text" class="form-control" name="username" id="username_id" value="">
  </div>
  </div>

  <div class="row">
  <div class="col-md-12 input-group">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">密码</span>
    </div>
	<input type="text" class="form-control" name="password" id="password_id" value="">
  </div>
  </div>

  <div class="row">
  <div class="col-md-12 input-group">
    <select class="form-control" id="user_type_id" name="user_type" aria-labelledby="basic-addon1">
       <option></option>
       <option>Candidate</option>
       <option>Recruiter</option>
       <option>Employer</option>
       <option>Manager</option>
    </select>
  </div>
  </div>

  <button type="submit">登录</button>
</form>

{% endblock %}
