<div class="layui-card">
  <div class="layui-card-header">更新日期：2019年3月11日</div>
  <div class="layui-card-header">跟踪记录</div>
  <div class="layui-card-body layui-row layui-col-space10">
    <div id="main1" class="layui-col-sm12">
      <p>王志阳：19：06：02 ：候选人很优秀</p>
      <div class="layui-form-item">
        <!-- <label for="L_email" class="layui-form-label">
        <span class="x-red">*</span></label> -->
        <div class="layui-input-inline">
          <input type="text" id="L_email" name="email" required="" lay-verify="email" autocomplete="off" class="layui-input">
        </div>
            <!-- <div class="layui-form-mid layui-word-aux">
            <span class="x-red">*</span>将会成为您唯一的登入名</div> -->
            <button class="layui-btn"><i class="layui-icon"></i>新增</button>
      </div>
    </div>
  </div>
</div>
<div class="layui-card">
  <div class="layui-card-header">历史记录</div>
  <div class="layui-card-body layui-row layui-col-space10">
    <div id="main1" class="layui-col-sm12">
      <li class="layui-timeline-item">
        <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
        <div class="layui-timeline-content layui-text">
          <h3 class="layui-timeline-title">职位一：企业选址顾问</h3>
          <p>19年3月30日 </p>
        </div>
      </li>
      <li class="layui-timeline-item">
        <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
        <div class="layui-timeline-content layui-text">
          <h3 class="layui-timeline-title">职位二：销售专员</h3>
          <p>19年3月30日</p>
        </div>
      </li>
    </div>
  </div>
</div>
