{% extends "recruit_manager/table_basic.html" %}
{% load static %}
{% block content %}

<div class="text-primary" id="text_company_name"> HAHA </div>
{{ datatable }}

{{ post_datatable }}

{% endblock %}

{% block extra_js %}

<!-- Page level plugins -->
<!-- Page level custom scripts -->
<script type="text/javascript" charset="utf8" src="{% static 'recruit_manager/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'recruit_manager/vendor/datatables/jquery.dataTables.min.js' %}"></script>

<script type="text/javascript" charset="utf8" src="{% static 'recruit_manager/js/datatableview.js' %}"></script>

<script type="text/javascript">
 datatableview.auto_initialize = false;
 var resume_selected = [];
 var post_selected = false;
 var post_selected_value = 0;

 $(function() {
   var common_options = {
     "rowCallback": function(row, data) {
       console.log("rowcallback in " + data.DT_RowId.toString() + " " + post_selected_value + " " + post_selected);
       if ((post_selected === true) && (data.DT_RowId == post_selected_value)) {
         $(row).addClass('selected');
       } else if ($.inArray(data.DT_RowId.toString(), resume_selected) !== -1 ) {
         $(row).addClass('selected');
       }

     }
   };
   datatableview.initialize($('.datatable'), common_options);
 });

 $(document).ready(function() {
   $('#DataTables_Table_0 tbody').on('click', 'tr', function() {
     var id = this.id;
     var index = $.inArray(id, resume_selected);

     if ( index === -1 ) {
       resume_selected.push(id);
     } else {
       resume_selected.splice(index, 1);
     }

     $(this).toggleClass('selected');
   });

   $('#DataTables_Table_1 tbody').on('click', 'tr', function() {
     var id = this.id;

     if (id === post_selected_value && post_selected === true) {
       $(this).toggleClass('selected');
       console.log(id + " off");
       post_selected = false;
     } else {
       $(this).toggleClass('selected');
       console.log(id + " on");
       console.log($(this));

       if (post_selected === true) {
         $('tr#' + post_selected_value).toggleClass('selected');
       }
       post_selected = true;
       post_selected_value = id;

       var tr = document.getElementById(id);
       $('#DataTables_Table_1').getElementById("text_company_name").innerHTML = tr.innerText;
     }
   });

 });

</script>

{% endblock%}
