{% extends "recruit_manager/table_basic.html" %}
{% load static %}
{% block content %}
<div class="table-responsive">
  <table border="0" cellspacing="5" cellpadding="5">
    <tbody><tr>
      <td>Minimum age:</td>
      <td><input type="text" id="min" name="min"></td>
    </tr>
    <tr>
      <td>Maximum age:</td>
      <td><input type="text" id="max" name="max"></td>
    </tr>
    </tbody>
  </table>


  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
      <tr>
        <th>CandidateID</th>
        <th>ID</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Age</th>
        <th>Phone</th>
        <th>Email</th>
        <th>School</th>
        <th>Degree</th>
        <th>Major</th>
        <th>Stat</th>
      </tr>
    </thead>
  </table>
</div>
{% endblock %}

{% block extra_js %}
<script>

 $(document).ready(function() {
   var table = $('#dataTable').DataTable({
     "processing": true,
     "serverSide": true,

     "ajax": {
       "url": "/api/resumes/",
       "type": "GET",
       "data": function (d) {
         d.degree_min = $('#min').val();
         d.degree_max = $('#max').val();
       },
     },

     "columns": [
       {"data": "candidate_id",
        visible: false},
       {"data": "resume_id"},
       {"data": "username"},
       {"data": "gender",
        render: function(cell, type, data, meta) {
          if (data.gender == 'f') {
            return "Female";
          }
          return "Male";
        }
       },
       {"data": "age"},
       {"data": "phone_number"},
       {"data": "email"},
       {"data": "school"},
       {"data": "degree"},
       {"data": "major"},
       {"data": "stat",
        render: function(data, type, row, meta) {
          if (row.stat) {
            return "\
<button class=\"btn btn-success btn-icon-split border-0\" id=\"stage\">\
<span class=\"icon text-white-50\">\
<i class=\"fas fa-check\"></i></span>\
<span class=\"text\">Interviewed</span>\
</button>";
          }

          if (row.candidate_id) {
            var url="{% url 'app_manager:t_interview_api' 1234 %}".replace(/1234/, row.candidate_id);

            var str = "\
<form action=" + url + " method='GET'>\
<button class=\"btn btn-info btn-icon-split border-0\" id=\"stage\">\
<span class=\"icon text-white-50\">\
<i class=\"fas fa-arrow-right\"></i></span>\
<span class=\"text\">Prepare Interview</span>\
</button>\
</form>";
            return str;
          }

          return "ABC";
        }
       },
     ],
   });

   $('#min, #max').keyup(function() {
     console.log("asdf");
     table.draw();
   });
 });
</script>
{% endblock%}
