{% extends "recruit_manager/table_basic.html" %}
{% load static %}
{% block content %}

<div class="container-fluid">

  <div class="row">

    <div class="col-2">
      <?-- Post -->
      <h5 class="mb-0">
        <button id="text_company_name" class="btn btn-link" data-toggle="collapse" data-target="#collapsePost" aria-expanded="true" aria-controls="collapsePost">
          选择要操作的岗位
        </button>
      </h5>

      <div class="table-responsive">
        <table class="table table-bordered table-hover" id="dataTable_post" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Company</th>
          </thead>
        </table>
      </div>
    </div>
    <?-- Post -->

    <div class="col-10">
      <!-- Global Filter -->
      <div class="list-group list-group-horizontal">

        <li class="list-group-item list-group-item-action active" data-toggle="list" value="0">
          全部
          <span id="badge_statistic_stage_0" class="badge badge-primary badge-pill"></span>
        </li>
        <li class="list-group-item list-group-item-action" data-toggle="list" value="1">
          筛选
          <span id="badge_statistic_stage_1" class="badge badge-primary badge-pill"></span>
        </li>
        <li class="list-group-item list-group-item-action" data-toggle="list" value="2">
          邀约
          <span id="badge_statistic_stage_2" class="badge badge-primary badge-pill"></span>
        </li>
        <li class="list-group-item list-group-item-action" data-toggle="list" value="3">
          面试
          <span id="badge_statistic_stage_3" class="badge badge-primary badge-pill"></span>
        </li>
        <li class="list-group-item list-group-item-action" data-toggle="list" value="4">
          OFFER
          <span id="badge_statistic_stage_4" class="badge badge-primary badge-pill"></span>
        </li>
        <li class="list-group-item list-group-item-action" data-toggle="list" value="5">
          入职
          <span id="badge_statistic_stage_5" class="badge badge-primary badge-pill"></span>
        </li>
        <li class="list-group-item list-group-item-action" data-toggle="list" value="6">
          考察
          <span id="badge_statistic_stage_6" class="badge badge-primary badge-pill"></span>
        </li>
        <li class="list-group-item list-group-item-action" data-toggle="list" value="7">
          回款
          <span id="badge_statistic_stage_7" class="badge badge-primary badge-pill"></span>
        </li>
      </div>
      <!-- Global Filter -->

      <?-- Filter -->
      <div class="card">
        <div class="card-header" id="headingTwo">
              岗位要求设置
        </div>

        <div class="card-body" style="padding: 0.5rem;">
          <div class="row">
            <?-- Inner Filter -->
            <div class="col-md-4 input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">最低学历</span>
              </div>
              <select class="form-control" id="degree_id" aria-labelledby="basic-addon1">
                <option>不限</option>
                <option>初中</option>
                <option>高中</option>
                <option>本科</option>
                <option>硕士</option>
                <option>博士</option>
              </select>
            </div>

            <div class="col-md-4 input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon2">性别</span>
              </div>
              <select class="form-control" id="gender_id">
                <option>不限</option>
                <option>男</option>
                <option>女</option>
              </select>
            </div>

            <div class="col-md-4 input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">最小年龄</span>
              </div>
              <input type="text" class="form-control" name="age_id" id="age_id" placeholder="年龄" value=""></input>
            </div>

            <div class="col-md-3 form-group" style="display:none;">
              <label> 工作地点 </label>
              <select class="form-control" id="province_id">
                <option>不限</option>
                <option>北京</option>
                <option>上海</option>
                <option>杭州</option>
              </select>
            </div>

            <div class="row col-md-24 register-form" style="display:none;">
              <div class="col-md-2 form-group">
                <label> 工作年限 </label>
                <input type="text" name="work_time_id" id="work_time_id" placeholder="年限" value="">
              </div>
              <div class="col-md-2 form-group">
                <label> 起薪 </label>
                <input type="text" name="salary_id" id="salary_id" placeholder="填入起薪" value="">
              </div>
            </div>
            <?-- Innter Filter-->
          </div>
        </div>
      </div>
      <?-- Filter -->

      <?-- Candidates -->
      <div class="card">
        <div class="card-header" id="headingThree">
          符合条件的候选人
        </div>

        <div class="card-body">
          <?-- canidates table-->
          <div class="table-responsive">
            <table class="table table-bordered table-hover table-condensed" id="dataTable_resume" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>CK</th>
                  <th>IID</th>
                  <th>CID</th>
                  <th>ID</th>
                  <th>*Name</th>
                  <th>GNDR</th>
                  <th>Age</th>
                  <th>*Phone</th>
                  <th>*Email</th>
                  <th>*School</th>
                  <th>Degree</th>
                  <th>*Major</th>
                  <th>WorkExp</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>
            </table>
          </div>

          <!--
               <form action={% url 'app_manager:t_interviews' %} method="GET">
               <center>
               <button type='submit' class="btn btn-primary" id='id_button_submit' style="width:50%">SUBMIT</button>
               </center>
               </form>
          -->
          <?-- End candidates table-->

        </div>
      </div>
      <?-- Candidates -->
    </div>
  </div>

  <!-- INVITE -->

  <div class="modal fade" id="inviteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">AI</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Send AI Invitation
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" id="inviteFormSubmit" class="btn btn-primary">AI Invite</button>
        </div>
      </div>
    </div>
  </div>

  <!-- DIAL -->
  <div class="modal fade" id="dialModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">AI机器人配置</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <?--Show candidate informations here.-->

          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="agree" role="tabpanel" aria-labelledby="agree-tab">
              <form>

                <div class="form-group">
                <span class="label label-default">面试日期</span>
                <div class="input-group date form_datetime" data-date="2019-05-20T10:00:00Z" data-date-format="yyyy-mm-dd-HH:ii p" data-link-field="dtp_input1">
                    <input class="form-control" size="16" type="text" value="" readonly>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                </div>
                </div>

                <div class="form-group">
                <span class="label label-default">任务名称</span>
                <select name="ai_task_id" id="ai_task_id" class="form-control" data-live-search="true">
                </select>
                </div>

                <div class="form-group">
                <span class="label label-default">话术ID</span>
                <select name="ai_task_id" id="huashu_id" class="form-control" data-live-search="true">
                </select>
                </div>

                <div class="form-group">
                <span class="label label-default">机器人ID</span>
                <select name="ai_task_id" id="huashu_id" class="form-control" data-live-search="true">
                </select>
                </div>

                <div class="form-group">
                  <span class="label label-default">应聘者</span>
                  <input type="text" class="form-control" id="text_name">
                </div>

                <div class="form-group">
                  <span class="label label-default">电话</span>
                  <input type="text" class="form-control" id="text_phone_number">
                </div>

              </form>
            </div>

            <div class="tab-pane fade" id="disagree", role="tabpanel" aria-labelledby="disagree-tab" style="display:none;">
              <form>

                <div class="form-group">
                  <label for="text_d_address" class="col-form-label">Address</label>
                  <input type="text" class="form-control" id="text_d_address">
                </div>

                <div class="form-group">
                  <label for="text_d_industry" class="col-form-label">Industry</label>
                  <input type="text" class="form-control" id="text_d_industry">
                </div>

                <div class="form-group">
                  <label for="text_d_salary" class="col-form-label">Salary</label>
                  <input type="text" class="form-control" id="text_d_salary">
                </div>

                <div class="form-group">
                  <label for="text_d_insurance" class="col-form-label">Insurance</label>
                  <input type="text" class="form-control" id="text_d_insurance">
                </div>

                <div class="form-group">
                  <label for="text_d_others" class="col-form-label">Other</label>
                  <textarea class="form-control" id="text_d_others"></textarea>
                </div>
              </form>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="dialFormSubmit" class="btn btn-primary">OK</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


  <!-- Post Info -->
  <div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">岗位信息</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <?--Show candidate informations here.-->

          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="agree" role="tabpanel" aria-labelledby="agree-tab">
              <form>
                <div class="form-group">
                  <input type="text" class="form-control" id="text_postinfo_company" placeholder="公司名">
                </div>

                <div class="form-group">
                  <input type="text" class="form-control" id="text_postinfo_department" placeholder="部门名">
                </div>

                <div class="form-group">
                  <input type="text" class="form-control" id="text_postinfo_post" placeholder="岗位名称">
                </div>

                <div class="form-group">
                  <input type="text" class="form-control" id="text_postinfo_description" placeholder="岗位简介">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Resume Info -->
  <div class="modal fade" id="resumeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">应聘者信息</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <?--Show candidate informations here.-->

          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="agree" role="tabpanel" aria-labelledby="agree-tab">
              <form>
                <div class="form-group">
                  <input type="text" class="form-control" id="text_resumeinfo_username" placeholder="姓名">
                </div>

                <div class="form-group">
                  <input type="text" class="form-control" id="text_resumeinfo_degree" placeholder="学历">
                </div>

                <div class="form-group">
                  <input type="text" class="form-control" id="text_resumeinfo_school" placeholder="学校">
                </div>

                <div class="form-group">
                  <input type="text" class="form-control" id="text_resumeinfo_phone_number" placeholder="电话">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Interview Info -->
  <div class="modal fade" id="inviteModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">同意面试</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <?--Show candidate informations here.-->

          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="agree" role="tabpanel" aria-labelledby="agree-tab">
              <form>
                <div class="form-group">
                  <input type="text" class="form-control" id="interview_date" placeholder="面试日期">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="interview_time" placeholder="面试时间">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="contact_" placeholder="联系人">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="interview_place" placeholder="面试地点">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="interview_post" placeholder="面试岗位">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="material_need" placeholder="携带资料">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="attention" placeholder="注意事项">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="first_impression" placeholder="第一印象">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="append" placeholder="备注">
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="sendMessage" class="btn btn-primary">发送面试信息给应聘者</button>
          <button type="button" id="inviteSubmit2" class="btn btn-primary">进入下一阶段: 面试</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Offer Info -->
  <div class="modal fade" id="offerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">入职信息</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <?--Show candidate informations here.-->

          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="agree" role="tabpanel" aria-labelledby="agree-tab">
              <form>
                <div class="form-group">
                  <input type="text" class="form-control" id="entry_date" placeholder="入职日期">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="entry_time" placeholder="入职时间">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="contact_" placeholder="联系人">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="entry_place" placeholder="报道地点">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="entry_post" placeholder="岗位名称">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="material_need" placeholder="携带资料">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="attention" placeholder="薪酬福利">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="first_impression" placeholder="携带资料">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="append" placeholder="备注">
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="sendMessageEntry" class="btn btn-primary">发送Offer信息给应聘者</button>
          <button type="button" id="offerSubmit" class="btn btn-primary">进入下一阶段: 入职</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- entry Info -->
  <div class="modal fade" id="entryUpdateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">更新入职信息</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <?--Show candidate informations here.-->

          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="agree" role="tabpanel" aria-labelledby="agree-tab">
              <form>
                <div class="form-group">
                  <input type="text" class="form-control" id="entry_date" placeholder="入职日期">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="entry_time" placeholder="入职时间">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="contact_" placeholder="联系人">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="entry_place" placeholder="报道地点">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="entry_post" placeholder="岗位名称">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="material_need" placeholder="携带资料">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="attention" placeholder="薪酬福利">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="first_impression" placeholder="携带资料">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="append" placeholder="备注">
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="sendMessageEntry2" class="btn btn-primary">发送Offer信息给应聘者</button>
          <button type="button" id="entryUpdateSubmit" class="btn btn-primary">确定更改入职信息</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


  <!-- entryed Info -->
  <div class="modal fade" id="entryedModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">入职信息确认</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" id="entryedSubmit" class="btn btn-primary">已经入职，进入考察期</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


  <!-- entryed Info -->
  <div class="modal fade" id="probationSuccModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">通过考察期</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" id="probationSuccSubmit" class="btn btn-primary">进入下一阶段: 回款</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Probation Fail Info -->
  <div class="modal fade" id="probationFailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">未通过考察期</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="entry_date" placeholder="未通过原因">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="entry_date" placeholder="评价">
        </div>
        <div class="modal-footer">
          <button type="button" id="probationFailSubmit" class="btn btn-primary">确认</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Interview Info -->
  <div class="modal fade" id="interviewModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">面试结论</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <?--Show candidate informations here.-->

          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="agree" role="tabpanel" aria-labelledby="agree-tab">
              <form>
                <div class="form-group">
                  <input type="text" class="form-control" id="text_date" placeholder="通过原因">
                </div>

                <div class="form-group">
                  <input type="text" class="form-control" id="text_task_id" placeholder="应聘者情商表现">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="text_huashu_id" placeholder="面试评价">
                </div>

                <div class="form-group">
                  <input type="text" class="form-control" id="text_huashu_id" placeholder="备注">
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="interviewFormSubmit2" class="btn btn-primary">进入下一阶段: 发放offer</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


  <!-- PayBack Info -->
  <div class="modal fade" id="pbRegModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">打款登记</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <?--Show candidate informations here.-->

          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="agree" role="tabpanel" aria-labelledby="agree-tab">
              <form>
                <div class="form-group">
                  <input type="text" class="form-control" id="text_date" placeholder="打款金额">
                </div>

                <div class="form-group">
                  <input type="text" class="form-control" id="text_task_id" placeholder="上传截图">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="text_huashu_id" placeholder="备注">
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="pbRegSubmit" class="btn btn-primary">确定</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- PayBack Info -->
  <div class="modal fade" id="pbDoneModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">打款完成</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <?--Show candidate informations here.-->

          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="agree" role="tabpanel" aria-labelledby="agree-tab">
              <form>
                <div class="form-group">
                  <input type="text" class="form-control" id="text_huashu_id" placeholder="备注">
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="pbDoneSubmit" class="btn btn-primary">完成打款, 整个面试过程结束</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- PayBack Info -->
  <div class="modal fade" id="pbBadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">坏账</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <?--Show candidate informations here.-->

          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="agree" role="tabpanel" aria-labelledby="agree-tab">
              <form>
                <div class="form-group">
                  <input type="text" class="form-control" id="text_huashu_id" placeholder="备注">
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="pbBadSubmit" class="btn btn-primary">确定</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


  <!-- PayBack Info -->
  <div class="modal fade" id="pbBillModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">坏账</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <?--Show candidate informations here.-->

          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="agree" role="tabpanel" aria-labelledby="agree-tab">
              <form>
                <div class="form-group">
                  <input type="text" class="form-control" id="pbBillCompany" placeholder="公司名称">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="pbBillUnicode" placeholder="识别号">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="pbBillAddress" placeholder="地址">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="pbBillPhone" placeholder="联系方式">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="pbBillBank" placeholder="银行">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="pbBillCard" placeholder="卡号">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="pbBillAmount" placeholder="金额">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="pbBillCusAddress" placeholder="寄票地址">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="contact" placeholder="联系人">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="contact_phone" placeholder="联系电话">
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="pbBillSubmit" class="btn btn-primary">确定</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- STOP -->
  <div class="modal fade" id="stopModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">终止面试(请如实填写以下内容)</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="stopInterview", role="tabpanel" aria-labelledby="stop-tab">
              <form>
                <div class="checkbox">
                  <label><input type="checkbox" value="">行业不满意</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" value="">岗位不满意</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" value="">作息不满意</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" value="">薪资不满意</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" value="">社保不满意</label>
                </div>
                <div class="form-group">
                  <label for="text_d_address" class="col-form-label">期望行业</label>
                  <input type="text" class="form-control" id="expected_area">
                </div>

                <div class="form-group">
                  <label for="text_d_industry" class="col-form-label">期望岗位</label>
                  <input type="text" class="form-control" id="expected_post">
                </div>

                <div class="form-group">
                  <label for="text_d_salary" class="col-form-label">期望作息</label>
                  <input type="text" class="form-control" id="expected_zuoxi">
                </div>

                <div class="form-group">
                  <label for="text_d_insurance" class="col-form-label">期望薪资</label>
                  <input type="text" class="form-control" id="expected_salary">
                </div>

                <div class="form-group">
                  <label for="text_d_insurance" class="col-form-label">期望社保</label>
                  <input type="text" class="form-control" id="expected_shebao">
                </div>

                <div class="form-group">
                  <label for="text_d_insurance" class="col-form-label">其他</label>
                  <input type="text" class="form-control" id="expected_shebao">
                </div>

                <div class="form-group">
                  <label for="text_d_insurance" class="col-form-label">应聘者评价</label>
                  <input type="text" class="form-control" id="expected_shebao">
                </div>

              </form>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="stopFormSubmit" class="btn btn-primary">OK</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- NEXT -->
  <div class="modal fade" id="nextModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <h5 class="modal-title" id="exampleModalLongTitle">确定进入下个面试阶段</h5>
        <button type="button" id="nextSubmit" class="btn btn-primary">OK</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>

  <!-- INTERVIEW -->
  <div class="modal fade" id="interviewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Interview</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="obsence-tab" href="#obsence" data-toggle="tab" role="tab" aria-controls="obsence" aria-selected="true">未到场</a></li>
            <li class="nav-item">
              <a class="nav-link" id="fail-tab" href="#fail" data-toggle="tab" role="tab" aria-controls="fail" aria-selected="false">未通过</a></li>
            <li class="nav-item">
              <a class="nav-link" id="pass-tab" href="#pass" data-toggle="tab" role="tab" aria-controls="pass" aria-selected="false">通过</a></li>
          </ul>

          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="obsence" role="tabpanel" aria-labelledby="obsence-tab">
              <form>
                <div class="form-group">
                  <label for="text_date" class="col-form-label">Date</label>
                  <input type="text" class="form-control" id="text_date">
                </div>

                <div class="form-group">
                  <label for="text_time" class="col-form-label">Time</label>
                  <input type="text" class="form-control" id="text_time">
                </div>

                <div class="form-group">
                  <label for="text_contact" class="col-form-label">Contact</label>
                  <input type="text" class="form-control" id="text_contact">
                </div>

                <div class="form-group">
                  <label for="text_address" class="col-form-label">Address</label>
                  <textarea class="form-control" id="text_address"></textarea>
                </div>

                <div class="form-group">
                  <label for="text_certification" class="col-form-label">Certification</label>
                  <textarea class="form-control" id="text_certification"></textarea>
                </div>

                <div class="form-group">
                  <label for="text_attention" class="col-form-label">Matters need attention</label>
                  <textarea class="form-control" id="text_attention"></textarea>
                </div>

              </form>
            </div>

            <div class="tab-pane fade" id="fail", role="tabpanel" aria-labelledby="fail-tab">
              <form>
                <div class="form-group">
                  <label for="text_d_others" class="col-form-label">Reason</label>
                  <textarea class="form-control" id="text_d_reason"></textarea>
                </div>
              </form>
            </div>

            <div class="tab-pane fade" id="pass", role="tabpanel" aria-labelledby="pass-tab">
              <form>
                <div class="form-group">
                  <label for="text_d_others" class="col-form-label">Result</label>
                  <textarea class="form-control" id="text_p_result"></textarea>
                </div>
              </form>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" id="interviewFormSubmit" class="btn btn-primary">OK</button>
        </div>
      </div>
    </div>
  </div>

  <!-- OFFER -->
  <div class="modal fade" id="offerModal_BAK" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Offer</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="agree-tab" href="#agree" data-toggle="tab" role="tab" aria-controls="agree" aria-selected="true">同意</a></li>
            <li class="nav-item">
              <a class="nav-link" id="disagree-tab" href="#disagree" data-toggle="tab" role="tab" aria-controls="disagree" aria-selected="false">不同意</a></li>
          </ul>

          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="agree" role="tabpanel" aria-labelledby="agree-tab">
              <form>
                <div class="form-group">
                  <label for="text_date" class="col-form-label">Date</label>
                  <input type="text" class="form-control" id="text_date">
                </div>

                <div class="form-group">
                  <label for="text_time" class="col-form-label">Time</label>
                  <input type="text" class="form-control" id="text_time">
                </div>

                <div class="form-group">
                  <label for="text_contact" class="col-form-label">Contact</label>
                  <input type="text" class="form-control" id="text_contact">
                </div>

                <div class="form-group">
                  <label for="text_address" class="col-form-label">Address</label>
                  <textarea class="form-control" id="text_address"></textarea>
                </div>

                <div class="form-group">
                  <label for="text_certification" class="col-form-label">Certification</label>
                  <textarea class="form-control" id="text_certification"></textarea>
                </div>

                <div class="form-group">
                  <label for="text_attention" class="col-form-label">Matters need attention</label>
                  <textarea class="form-control" id="text_attention"></textarea>
                </div>

              </form>
            </div>

            <div class="tab-pane fade" id="disagree", role="tabpanel" aria-labelledby="disagree-tab">
              <form>

                <div class="form-group">
                  <label for="text_d_address" class="col-form-label">Address</label>
                  <input type="text" class="form-control" id="text_d_address">
                </div>

                <div class="form-group">
                  <label for="text_d_industry" class="col-form-label">Industry</label>
                  <input type="text" class="form-control" id="text_d_industry">
                </div>

                <div class="form-group">
                  <label for="text_d_salary" class="col-form-label">Salary</label>
                  <input type="text" class="form-control" id="text_d_salary">
                </div>

                <div class="form-group">
                  <label for="text_d_insurance" class="col-form-label">Insurance</label>
                  <input type="text" class="form-control" id="text_d_insurance">
                </div>

                <div class="form-group">
                  <label for="text_d_others" class="col-form-label">Other</label>
                  <textarea class="form-control" id="text_d_others"></textarea>
                </div>
              </form>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" id="offerFormSubmit" class="btn btn-primary">OK</button>
        </div>
      </div>
    </div>
  </div>

  <!-- ENTRY -->
  <div class="modal fade" id="entryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Entry</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="obsence-tab" href="#obsence" data-toggle="tab" role="tab" aria-controls="obsence" aria-selected="true">放弃入职</a></li>
            <li class="nav-item">
              <a class="nav-link" id="fail-tab" href="#fail" data-toggle="tab" role="tab" aria-controls="fail" aria-selected="false">更期入职</a></li>
            <li class="nav-item">
              <a class="nav-link" id="pass-tab" href="#pass" data-toggle="tab" role="tab" aria-controls="pass" aria-selected="false">入职到场</a></li>
          </ul>

          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="obsence" role="tabpanel" aria-labelledby="obsence-tab">
              <form>
                <div class="form-group">
                  <label for="text_date" class="col-form-label">Date</label>
                  <input type="text" class="form-control" id="text_date">
                </div>

                <div class="form-group">
                  <label for="text_time" class="col-form-label">Time</label>
                  <input type="text" class="form-control" id="text_time">
                </div>

                <div class="form-group">
                  <label for="text_contact" class="col-form-label">Contact</label>
                  <input type="text" class="form-control" id="text_contact">
                </div>

                <div class="form-group">
                  <label for="text_address" class="col-form-label">Address</label>
                  <textarea class="form-control" id="text_address"></textarea>
                </div>

                <div class="form-group">
                  <label for="text_certification" class="col-form-label">Certification</label>
                  <textarea class="form-control" id="text_certification"></textarea>
                </div>

                <div class="form-group">
                  <label for="text_attention" class="col-form-label">Matters need attention</label>
                  <textarea class="form-control" id="text_attention"></textarea>
                </div>

              </form>
            </div>

            <div class="tab-pane fade" id="fail", role="tabpanel" aria-labelledby="fail-tab">
              <form>
                <div class="form-group">
                  <label for="text_d_others" class="col-form-label">Reason</label>
                  <textarea class="form-control" id="text_d_reason"></textarea>
                </div>
              </form>
            </div>

            <div class="tab-pane fade" id="pass", role="tabpanel" aria-labelledby="pass-tab">
              <form>
                <div class="form-group">
                  <label for="text_d_others" class="col-form-label">Result</label>
                  <textarea class="form-control" id="text_p_result"></textarea>
                </div>
              </form>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" id="entryFormSubmit" class="btn btn-primary">OK</button>
        </div>
      </div>
    </div>
  </div>

  <!-- INSPECT -->
  <div class="modal fade" id="inspectModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Inspect</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="obsence-tab" href="#obsence" data-toggle="tab" role="tab" aria-controls="obsence" aria-selected="true">放弃考察</a></li>
            <li class="nav-item">
              <a class="nav-link" id="fail-tab" href="#fail" data-toggle="tab" role="tab" aria-controls="fail" aria-selected="false">未通过</a></li>
            <li class="nav-item">
              <a class="nav-link" id="pass-tab" href="#pass" data-toggle="tab" role="tab" aria-controls="pass" aria-selected="false">通过</a></li>
          </ul>

          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="obsence" role="tabpanel" aria-labelledby="obsence-tab">
              <form>
                <div class="form-group">
                  <label for="text_date" class="col-form-label">Date</label>
                  <input type="text" class="form-control" id="text_date">
                </div>

                <div class="form-group">
                  <label for="text_time" class="col-form-label">Time</label>
                  <input type="text" class="form-control" id="text_time">
                </div>

                <div class="form-group">
                  <label for="text_contact" class="col-form-label">Contact</label>
                  <input type="text" class="form-control" id="text_contact">
                </div>

                <div class="form-group">
                  <label for="text_address" class="col-form-label">Address</label>
                  <textarea class="form-control" id="text_address"></textarea>
                </div>

                <div class="form-group">
                  <label for="text_certification" class="col-form-label">Certification</label>
                  <textarea class="form-control" id="text_certification"></textarea>
                </div>

                <div class="form-group">
                  <label for="text_attention" class="col-form-label">Matters need attention</label>
                  <textarea class="form-control" id="text_attention"></textarea>
                </div>

              </form>
            </div>

            <div class="tab-pane fade" id="fail", role="tabpanel" aria-labelledby="fail-tab">
              <form>
                <div class="form-group">
                  <label for="text_d_others" class="col-form-label">Reason</label>
                  <textarea class="form-control" id="text_d_reason"></textarea>
                </div>
              </form>
            </div>

            <div class="tab-pane fade" id="pass", role="tabpanel" aria-labelledby="pass-tab">
              <form>
                <div class="form-group">
                  <label for="text_d_others" class="col-form-label">Result</label>
                  <textarea class="form-control" id="text_p_result"></textarea>
                </div>
              </form>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" id="inspectFormSubmit" class="btn btn-primary">OK</button>
        </div>
      </div>
    </div>
  </div>

  <!-- PAYBACK -->
  <div class="modal fade" id="paybackModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Payback</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="agree-tab" href="#agree" data-toggle="tab" role="tab" aria-controls="agree" aria-selected="true">同意</a></li>
            <li class="nav-item">
              <a class="nav-link" id="disagree-tab" href="#disagree" data-toggle="tab" role="tab" aria-controls="disagree" aria-selected="false">不同意</a></li>
          </ul>

          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="agree" role="tabpanel" aria-labelledby="agree-tab">
              <form>
                <div class="form-group">
                  <label for="text_date" class="col-form-label">Date</label>
                  <input type="text" class="form-control" id="text_date">
                </div>

                <div class="form-group">
                  <label for="text_time" class="col-form-label">Time</label>
                  <input type="text" class="form-control" id="text_time">
                </div>

                <div class="form-group">
                  <label for="text_contact" class="col-form-label">Contact</label>
                  <input type="text" class="form-control" id="text_contact">
                </div>

                <div class="form-group">
                  <label for="text_address" class="col-form-label">Address</label>
                  <textarea class="form-control" id="text_address"></textarea>
                </div>

                <div class="form-group">
                  <label for="text_certification" class="col-form-label">Certification</label>
                  <textarea class="form-control" id="text_certification"></textarea>
                </div>

                <div class="form-group">
                  <label for="text_attention" class="col-form-label">Matters need attention</label>
                  <textarea class="form-control" id="text_attention"></textarea>
                </div>

              </form>
            </div>

            <div class="tab-pane fade" id="disagree", role="tabpanel" aria-labelledby="disagree-tab">
              <form>

                <div class="form-group">
                  <label for="text_d_address" class="col-form-label">Address</label>
                  <input type="text" class="form-control" id="text_d_address">
                </div>

                <div class="form-group">
                  <label for="text_d_industry" class="col-form-label">Industry</label>
                  <input type="text" class="form-control" id="text_d_industry">
                </div>

                <div class="form-group">
                  <label for="text_d_salary" class="col-form-label">Salary</label>
                  <input type="text" class="form-control" id="text_d_salary">
                </div>

                <div class="form-group">
                  <label for="text_d_insurance" class="col-form-label">Insurance</label>
                  <input type="text" class="form-control" id="text_d_insurance">
                </div>

                <div class="form-group">
                  <label for="text_d_others" class="col-form-label">Other</label>
                  <textarea class="form-control" id="text_d_others"></textarea>
                </div>
              </form>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" id="paybackFormSubmit" class="btn btn-primary">OK</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block extra_js %}
<script>
 var t_resume_statistic_url = "{% url 'app_manager:t_resume_statistic' 1 %}";
</script>
<script src="{% static 'resumes/js/table_multi.js' %}"></script>
<script type="text/javascript">
    $('.form_datetime').datetimepicker({
        //language:  'fr',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        forceParse: 0,
        initialDate:new Date(),
        orientation:'bottom',
        showMeridian: 1
    });
</script>

{% endblock%}
