{% extends "recruit_manager/table_basic.html" %}
{% load static %}
{% block content %}
<div class="table-responsive">
  <table border="0" cellspacing="5" cellpadding="5">
    <tbody>
      <tr>
        <td>Minimum age:</td>
        <td><input type="text" id="min_age" name="min_age"></td>

        <td>Minimum degree:</td>
        <td><input type="text" id="min_degree" name="min_degree"></td>

        <td>Gender:</td>
        <td><input type="checkbox" id="gender_f" name="gender_f" checked>Female</td>
      </tr>
      <tr>
        <td>Maximum age:</td>
        <td><input type="text" id="max_age" name="max_age"></td>

        <td>Maximum degree:</td>
        <td><input type="text" id="max_degree" name="max_degree"></td>

        <td></td>
        <td><input type="checkbox" id="gender_m" name="gender_m" checked>Male</td>
      </tr>
    </tbody>
  </table>


  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
      <tr>
        <th>CK</th>
        <th>CID</th>
        <th>ID</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Age</th>
        <th>Phone</th>
        <th>Email</th>
        <th>School</th>
        <th>Degree</th>
        <th>Major</th>
        <th>Stat</th>
      </tr>
    </thead>
  </table>

  <form>
  <button type='submit' id='id_b_submit'>SUBMIT</button>
  </form>
</div>
{% endblock %}

{% block extra_js %}
<script>
  $(document).ready(function() {
    var selected = [];

    var table = $('#dataTable').DataTable({
      "processing": true,
      "serverSide": true,

      "ajax": {
        "url": "/api/resumes/",
        "type": "GET",
        "data": function (d) {
          d.degree_min = $('#min_degree').val();
          d.degree_max = $('#max_degree').val();

          d.age_min = $('#min_age').val();
          d.age_max = $('#max_age').val();

          d.gender_m = $('#gender_m:checked').val();
          d.gender_f = $('#gender_f:checked').val();
        },
      },

      "rowCallback": function(row, data) {
        if ($.inArray(data.DT_RowId.toString(), selected) !== -1 ) {
          $(row).addClass('selected');
        }

      },

      "columns": [
        {"data": null,
         "checkboxes": {
         },
        },
        {"data": "candidate_id",
         "visible": false},
        {"data": "resume_id"},
        {"data": "username"},
        {"data": "gender"},
        {"data": "age"},
        {"data": "phone_number"},
        {"data": "email"},
        {"data": "school"},
        {"data": "degree"},
        {"data": "major"},
        {"data": "stat",
         render: function(data, type, row, meta) {
           if (row.stat) {
             return "\
  <button class=\"btn btn-success btn-icon-split border-0\" id=\"stage\">\
    <span class=\"icon text-white-50\">\
      <i class=\"fas fa-check\"></i></span>\
    <span class=\"text\">Interviewed</span>\
  </button>";
           }

           if (row.candidate_id) {
             var url="{% url 'app_manager:t_interview_api' 1234 %}".replace(/1234/, row.candidate_id);

             var str = "\
  <form action=" + url + " method='GET'>\
    <button class=\"btn btn-info btn-icon-split border-0\" id=\"stage\">\
      <span class=\"icon text-white-50\">\
        <i class=\"fas fa-arrow-right\"></i></span>\
      <span class=\"text\">Prepare Interview</span>\
    </button>\
  </form>";
             return str;
           }

           return "ABC";
         }
        },
      ],
    });

    $('#min_degree, #max_degree, #min_age, #max_age').keyup(function() {
      table.draw();
    });

    $('#gender_m, #gender_f').on('click', function() {
      table.draw();
    });

    $('#dataTable tbody').on('click', 'tr', function() {
      var id = this.id;
      var index = $.inArray(id, selected);

      if ( index === -1 ) {
        selected.push(id);
      } else {
        selected.splice(index, 1);
      }

      $(this).toggleClass('selected');
    });

    $('#id_b_submit').on('click', function() {
      var s_post = localStorage['post']
      console.log(s_post);
      console.log(selected);

      // submit to interview interface
    });
  });
</script>
{% endblock%}
