{% extends "recruit_manager/table_basic.html" %}
{% load static %}
{% block content %}

<div class="panel-group" id="accordion">
    <div class="panel panel-success">


        <div id="collapseRequest" class="panel-collapse collapse">
            <div class="panel-body">
              <?-- Can we split this filter part to another filter.html? -->
              <div class="container col-md-24">
                <form name='filter_form' method='post' action="#">
                    <div class="row col-md-24 register-form">
                      <div class="col-md-2 form-group">
                        <label> 最低学历 </label>
                        <select class="form-control" id="degree_id">
                        </select>
                      </div>
                      <div class="col-md-2 form-group">
                        <label> 性别 </label>
                        <select class="form-control" id="gender_id">
                        </select>
                      </div>
                      <div class="col-md-2 form-group">
                        <label> 工作地点 </label>
                        <select class="form-control" id="province_id">
                        </select>
                      </div>
                    </div>
                    <div class="row col-md-24 register-form">
                      <div class="col-md-3 form-group">
                        <label> 最小年龄 </label>
                        <input type="text" name="age_id" id="age_id" placeholder="年龄" value="">
                      </div>
                      <div class="col-md-3 form-group">
                        <label> 工作年限 </label>
                        <input type="text" name="work_time_id" id="work_time_id" placeholder="年限" value="">
                      </div>
                      <div class="col-md-3 form-group">
                        <label> 起薪 </label>
                        <input type="text" name="salary_id" id="salary_id" placeholder="填入起薪" value="">
                      </div>
                    </div>
                  </form>
                </div>
                <?-- This is the end of filter logic -->
            </div>
        </div>
        <?--End of the Last Filter -->

        <?-- tempPlate For a collapse -->
        <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion"
               href="#collapseCandidates">
                合适的候选人名单
            </a>
          </h4>
        </div>
        <div id="collapseCandidates" class="panel-collapse collapse">
            <div class="panel-body">

              <?--Logic for table show-->
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>CK</th>
                      <th>CID</th>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Gender</th>
                      <th>Age</th>
                      <th>Phone</th>
                      <th>Email</th>
                      <th>School</th>
                      <th>Degree</th>
                      <th>Major</th>
                      <th>Stat</th>
                     </tr>
                  </thead>
                </table>
               </div>
              <?--End logic for table show-->

            </div>
        </div>
        </div>
        <?-- table filter -->

        <?-- tempPlate For a collapse -->
        <div class="panel panel-default" style="display:none;">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion"
               href="#collapseTemplate">
                title
            </a>
          </h4>
        </div>
        <div id="collapseTemplate" class="panel-collapse collapse">
            <div class="panel-body">
                body
            </div>
        </div>
        </div>
        <?-- Basic -->
    </div>
</div>

{% endblock %}

{% block extra_js %}
  <script>
  $(document).ready(function() {

    $(function () { $('#collapsePostBasicInfo').collapse('show')});
    $(function () { $('#collapseCandidates').collapse('show')});
    $(function () { $('#collapseTemplate').collapse('show')});

    var selected = [];

    var table = $('#dataTable').DataTable({
      "processing": true,
      "serverSide": true,

      "ajax": {
        "url": "/api/resumes/",
        "type": "GET",
        "data": function (d) {
          d.degree_id = $('#degree_id').val();
          d.age_id = $('#age_id').val();
          d.gender_id = $('#gender_id').val();
        },
      },

      "rowCallback": function(row, data) {
        if ($.inArray(data.DT_RowId.toString(), selected) !== -1 ) {
          $(row).addClass('selected');
        }
      },

      "columns": [
        {
          "data": null,
          "checkboxes": {},
        },
        {
          "data": "candidate_id",
          "visible": false
        },
        {
          "data": "id",
          render: function(data, type, row, meta) {
            return '<a class="nav-link" href={% url 'app_manager:t_resume' 1234 %}> 1234 </a>'.replace(/1234/g, row.id);
          }
        },
        {
          "data": "username"
        },
        {
          "data": "gender"
        },
        {
          "data": "age"
        },
        {
          "data": "phone_number"
        },
        {
          "data": "email"
        },
        {
          "data": "school"
        },
        {
          "data": "degree"
        },
        {
          "data": "major"
        },
        {
          "data": "stat",
          render: function(data, type, row, meta) {
            if (row.stat) {
              return "\
                        <button class=\"btn btn-success btn-icon-split border-0\" id=\"stage\">\
                        <span class=\"icon text-white-50\">\
                        <i class=\"fas fa-check\"></i></span>\
                        <span class=\"text\">Interviewed</span>\
                        </button>";
            }
            if (row.candidate_id) {
              var url="{% url 'app_manager:t_interview_api' 1234 %}".replace(/1234/, row.candidate_id);
              var str = "\
                    <form action=" + url + " method='GET'>\
                    <button class=\"btn btn-info btn-icon-split border-0\" id=\"stage\">\
                    <span class=\"icon text-white-50\">\
                    <i class=\"fas fa-arrow-right\"></i></span>\
                    <span class=\"text\">Prepare Interview</span>\
                    </button>\
                    </form>";
              return str;
            }

            return "ABC";
          }
        },
      ],
    });

    $('#degree_id, #gender_id, #age_id').keyup(function() {
      table.draw();
    });
    $('#degree_id, #gender_id').change(function() {
      table.draw();
    });

    $('#dataTable tbody').on('click', 'tr', function() {
      var id = this.id;
      var index = $.inArray(id, selected);

      if ( index === -1 ) {
        selected.push(id);
      } else {
        selected.splice(index, 1);
      }

      $(this).toggleClass('selected');
    });

    $('#id_b_submit').on('click', function() {
      var s_post = localStorage['post']
      console.log(s_post);
      console.log(selected);
      // submit to interview interface
    });
  });
</script>
{% endblock%}
