{% extends "recruit_manager/table_basic.html" %}
{% load static %}
{% block content %}

<div class="panel-group" id="accordion">
  <div class="panel panel-success">

    <?-- Post -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion"
href="#collapsePost">
            <div class="text-primary" id="text_company_name">
              选择要操作的岗位
            </div>
          </a>
        </h4>
      </div>
      <div id="collapsePost" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable_post" width="100%" cellspacing="0">
              <thead>
              <tr><th>ID</th><th>Company</th><th>Department</th><th>Name</th></tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
    <?-- Post -->

    <?-- Filter -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion"
            href="#collapseRequest">
              岗位要求设置
          </a>
        </h4>
      </div>
      <div id="collapseRequest" class="panel-collapse collapse">
        <div class="panel-body">
                <?-- Inner Filter -->
                <form name='filter_form' method='post' action="#">
                    <div class="row col-md-24 register-form">
                      <div class="col-md-2 form-group">
                        <label> 最低学历 </label>
                        <select class="form-control" id="degree_id">
                          <option>不限</option>
                          <option>初中</option>
                          <option>高中</option>
                          <option>本科</option>
                          <option>硕士</option>
                          <option>博士</option>
                        </select>
                      </div>
                      <div class="col-md-2 form-group">
                        <label> 性别 </label>
                        <select class="form-control" id="gender_id">
                          <option>不限</option>
                          <option>男</option>
                          <option>女</option>
                        </select>
                      </div>
                      <div class="col-md-2 form-group">
                        <label> 工作地点 </label>
                        <select class="form-control" id="province_id">
                          <option>不限</option>
                          <option>北京</option>
                          <option>上海</option>
                          <option>杭州</option>
                        </select>
                      </div>
                    </div>
                    <div class="row col-md-24 register-form">
                      <div class="col-md-2 form-group">
                        <label> 最小年龄 </label>
                        <input type="text" name="age_id" id="age_id" placeholder="年龄" value="">
                      </div>
                      <div class="col-md-2 form-group">
                        <label> 工作年限 </label>
                        <input type="text" name="work_time_id" id="work_time_id" placeholder="年限" value="">
                      </div>
                      <div class="col-md-2 form-group">
                        <label> 起薪 </label>
                        <input type="text" name="salary_id" id="salary_id" placeholder="填入起薪" value="">
                      </div>
                    </div>
                  </form>
                <?-- Innter Filter-->
        </div>
      </div>
    </div>
    <?-- Filter -->

    <?-- Candidates -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion"
            href="#collapseCandidates">
              符合条件的候选人
          </a>
        </h4>
      </div>
      <div id="collapseCandidates" class="panel-collapse collapse">
        <div class="panel-body">

          <?-- canidates table-->
          <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>CK</th>
                <th>CID</th>
                <th>ID</th>
                <th>*Name</th>
                <th>Gender</th>
                <th>Age</th>
                <th>*Phone</th>
                <th>*Email</th>
                <th>*School</th>
                <th>Degree</th>
                <th>*Major</th>
                <th>Stat</th>
              </tr>
            </thead>
          </table>
          </div>

          <form action={% url 'app_manager:t_interviews' %} method="GET">
            <center>
              <button type='submit' class="btn btn-primary" id='id_button_submit' style="width:50%">SUBMIT</button>
            </center>
          </form>
          <?-- End candidates table-->

        </div>
      </div>
    </div>
    <?-- Candidates -->

    <?-- tempPlate For a collapse -->
    <div class="panel panel-default" style="display:none;">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion"
            href="#collapseTemplate">
              title
          </a>
        </h4>
      </div>
      <div id="collapseTemplate" class="panel-collapse collapse">
        <div class="panel-body">
            body
        </div>
      </div>
    </div>
    <?-- Basic -->

  </div>
</div>


{% endblock %}

{% block extra_js %}
<script>
  $(document).ready(function() {

    $(function () { $('#collapsePost').collapse({toggle: true})});
    $(function () { $('#collapseCandidates').collapse({toggle: false})});
    $(function () { $('#collapseTemplate').collapse({toggle: false})});
    $(function () { $('#collapseRequest').collapse({toggle: false})});

    var resume_selected = [];
    var post_selected = false;
    var post_selected_value = 0;

    var table = $('#dataTable').DataTable({
      "processing": true,
      "serverSide": true,

      "ajax": {
        "url": "/api/resumes/",
        "type": "GET",
        "data": function (d) {
          d.degree_id = $('#degree_id').val();
          d.age_id = $('#age_id').val();
          d.gender_id = $('#gender_id').val();
        },
      },

      "rowCallback": function(row, data) {
        if ($.inArray(data.DT_RowId.toString(), resume_selected) !== -1 ) {
          $(row).addClass('selected');
        }

      },

      "columns": [
        {"data": null,
         "visible": false,
         "checkboxes": {
         },
        },
        {"data": "candidate_id",
         "visible": false},
        {"data": "id"},
        {"data": "username"},
        {"data": "gender"},
        {"data": "age"},
        {"data": "phone_number"},
        {"data": "email"},
        {"data": "school"},
        {"data": "degree"},
        {"data": "major"},
        {"data": "stat",
         render: function(data, type, row, meta) {
           if (row.stat) {
             return "\
  <button class=\"btn btn-success btn-icon-split border-0\" id=\"stage\">\
    <span class=\"icon text-white-50\">\
      <i class=\"fas fa-check\"></i></span>\
    <span class=\"text\">Interviewed</span>\
  </button>";
           }

           if (row.candidate_id) {
             var url="{% url 'app_manager:t_interview_api' 1234 %}".replace(/1234/, row.candidate_id);

             var str = "\
  <form action=" + url + " method='GET'>\
    <button class=\"btn btn-info btn-icon-split border-0\" id=\"stage\">\
      <span class=\"icon text-white-50\">\
        <i class=\"fas fa-arrow-right\"></i></span>\
      <span class=\"text\">Prepare Interview</span>\
    </button>\
  </form>";
             return str;
           }

           return "Available";
         }
        },
      ],
    });

    var table_post = $('#dataTable_post').DataTable({
      "lengthChange": false,
      "pageLength" : 5,

      "processing": true,
      "serverSide": true,

      "ajax": {
        "url": "/api/posts/",
        "type": "GET",
      },

      "rowCallback": function(row, data) {

        if ((post_selected === true) && (data.DT_RowId == post_selected_value)) {
          $(row).addClass('selected');
        }
      },

      "columns": [
        {"data": "id"},
        {"data": "department.company.name"},
        {"data": "department.name"},
        {"data": "name"},
      ],
    });

    $('#age_id').keyup(function() {
      table.draw();
    });

    $('#degree_id, #gender_id').change(function() {
      table.draw();
    });

    $('#dataTable tbody').on('click', 'tr', function() {
      var id = this.id;
      var index = $.inArray(id, resume_selected);

      if ( index === -1 ) {
        resume_selected.push(id);
      } else {
        resume_selected.splice(index, 1);
      }

      $(this).toggleClass('selected');
    });

    // post table
    $('#dataTable_post tbody').on('click', 'tr', function() {
      var id = this.id;

      if (id === post_selected_value && post_selected === true) {
        $(this).toggleClass('selected');
        post_selected = false;
      } else {
        $(this).toggleClass('selected');

        if (post_selected === true) {
          $('tr#' + post_selected_value).toggleClass('selected');
        }
        post_selected = true;
        post_selected_value = id;

        var tr = document.getElementById(id);
        document.getElementById("text_company_name").innerHTML = tr.innerText;
      }
    });

    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
          var cookie = cookies[i].trim();
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }

    $('#id_button_submit').on('click', function() {
      console.log(post_selected_value);
      console.log(resume_selected);

      // submit to interview interface
      for (var i = 0; i < resume_selected.length; i++) {
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/api/interviews/");
        xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        var csrftoken = getCookie('csrftoken');

        xhr.setRequestHeader("X-CSRFToken", csrftoken);

        data = {"resume": Number(resume_selected[i]),
                "post": Number(post_selected_value),
                "is_active":true,
                "status": 0,
                "result":"Pending",
               };

        console.log(data);
        xhr.send(JSON.stringify(data));
        xhr.onloadend = function() {
          //done
        };
      }
    });
  });
</script>
{% endblock%}
