{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Recruit Panel - Basic</title>

    <!-- Custom fonts for this template -->
    <link href="{% static 'recruit_manager/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'recruit_manager/css/nunito.css' %}" ref="stylesheet">

    <!-- Custom styles for this page -->
    <link href="{% static 'recruit_manager/css/sb-admin-2.css' %}" rel="stylesheet">


    <!-- For resume info -->
    <!-- Google Font -->
    <link href="{% static 'recruit_manager/css/roboto.css' %}" rel="stylesheet">

    <!-- FontAwesome JS-->
    <script src="{% static 'recruit_manager/js/fontawesome.all.js' %}"> </script>

    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="{% static 'recruit_manager/css/pillar-1.css' %}">
    <link id="breadcrumb-style" rel="stylesheet" href="{% static 'recruit_manager/css/breadcrumb_1.css' %}">

    <!-- timekeeper -->
    <link id="ordov-timekeeper-style" rel="stylesheet" href="{% static 'recruit_manager/css/jquery.timepicker.min.css' %}">
    <link id="ordov-datekeeper-style" rel="stylesheet" href="{% static 'recruit_manager/css/jquery-ui.css' %}">

</head>
