{% load static %}
  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'recruit_manager/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'recruit_manager/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'recruit_manager/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'recruit_manager/js/sb-admin-2.min.js' %}"></script>

  <!-- -->
  <script src="{% static 'recruit_manager/js/resume_edit.js' %}"></script>
  <script src="{% static 'recruit_manager/js/resume_education_edit.js' %}"></script>
  <script src="{% static 'recruit_manager/js/resume_project_edit.js' %}"></script>
  <script src="{% static 'recruit_manager/js/resume_language_edit.js' %}"></script>
  <script src="{% static 'recruit_manager/js/resume_certification_edit.js' %}"></script>

  <!-- timepicker.min.js -->
  <script src="{% static 'recruit_manager/js/jquery.timepicker.min.js' %}"></script>

  <!-- sidebar -->
  <script src="{% static 'recruit_manager/js/jquery.sidebar.js' %}"></script>
  <script src="{% static 'recruit_manager/js/handlers.js' %}"></script>

  <!-- multiselect -->
  <script src="{% static 'recruit_manager/js/jquery.multiselect.js' %}"></script>

  <!-- jquery-ui.js now for date-keeper -->
  <script src="{% static 'recruit_manager/js/jquery-ui.js' %}"></script>
