{% load static %}
{% include 'recruit_manager/table_header.html' %}
<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    {% include 'recruit_manager/basic_sidebar.html' %}

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Begin Page Content -->

          <!-- Page Heading -->
          <!-- <h1 class="h3 mb-2 text-gray-800">{{ template_table_name }}</h1> -->
          <!--
               <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p>
          -->
          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3" style="display:none;">
              <h6 class="m-0 font-weight-bold text-primary">Details</h6>
            </div>
            <div class="card-body">
              {% block content %} {% endblock %}
            </div>
          </div>

        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      {% include 'recruit_manager/basic_footer.html' %}

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  {% include 'recruit_manager/basic_logout.html' %}

  {% include 'recruit_manager/basic_js.html' %}

  <!-- Page level plugins -->
  <script src="{% static 'recruit_manager/js/datatables.min.js' %}"></script>
  <script src="{% static 'recruit_manager/js/scrolling.js' %}"></script>
  <script src="{% static 'recruit_manager/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
  <script src="{% static 'recruit_manager/vendor/datatables/dataTables.checkboxes.min.js' %}"></script>
  <script src="{% static 'recruit_manager/js/bootstrap-datetimepicker.js' %}"></script>
  <script src="{% static 'recruit_manager/js/bootstrap-datetimepicker.fr.js' %}"></script>

  <script src="{% static 'recruit_manager/js/bootstrap-select.min.js' %}"></script>

  <!-- Page level custom scripts -->
  {% block extra_js %} {% endblock %}
</body>

</html>
