<div class="table-responsive">
  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Gender</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Gender</th>
      </tr>
    </tfoot>
    {% if t_resume_list %}
    <tbody>
      {% for resume in t_resume_list %}
      <tr>
        <td>
          <a href="{% url 'app_manager:t_resume' resume.id %}">
            {{ resume.id }}
          </a>
        </td>
        <td>{{ resume.username }} </td>
        <td>{{ resume.gender }} </td>

      </tr>
      {% endfor %}
    </tbody>
    {% endif %}
  </table>
</div>
