<div class="layui-card">
  <div class="layui-card-header" id="userEduHeader">
    <div class="layui-col-sm7">教育经历</div>
    <div class="layui-col-sm5">
      <button class="layui-btn layui-btn layui-btn-xs" id="userEduAddButton">新增</button>
      <button class="layui-btn layui-btn layui-btn-xs" id="userEduEditButton" style="display:none">编辑</button>
      <button class="layui-btn layui-btn layui-btn-xs" id="userEduSaveButton" style="display:none">保存</button>
    </div>
  </div>
  <div class="layui-card-body layui-row layui-col-space10">
    <div id="resumeEduPanel" class="layui-col-sm12">
      <!--Add the item as follows-->
      <div class="layui-form-item" style="display:none;">
        <span class="layui-col-sm4">2008.09-2012.06</span>
        <span class="layui-col-sm3">山东大学</span>
        <span class="layui-col-sm3">计算机科学与技术</span>
        <span class="layui-col-sm1">本科</span>
        <span class="layui-col-sm1">统招</span>
      </div>


    </div>
  </div>
</div>
