<div class="layui-card">
  <div class="layui-card-header">
    <div class="layui-col-sm7">教育经历</div>
    <div class="layui-col-sm5">
      <button class="layui-btn" onclick="xadmin.open('添加用户','./member-add.html',600,400)"></i>新增</button>
      <button class="layui-btn layui-btn layui-btn-xs"  onclick="xadmin.open('编辑','admin-edit.html')">编辑</button>
    </div>
  </div>
  <div class="layui-card-body layui-row layui-col-space10">
    <div id="resumeEduPanel" class="layui-col-sm12">
      <!--Add the item as follows-->
      <div class="layui-form-item" style="display:none;">
        <span class="layui-col-sm4">2008.09-2012.06</span>
        <span class="layui-col-sm3">山东大学</span>
        <span class="layui-col-sm3">计算机科学与技术</span>
        <span class="layui-col-sm1">本科</span>
        <span class="layui-col-sm1">统招</span>
      </div>
    </div>
  </div>
</div>
