<div class="layui-card">
  <div class="layui-card-header">
    <div class="layui-col-sm7">工作经历</div>
    <div class="layui-col-sm5">
      <button class="layui-btn" onclick="xadmin.open('添加用户','./member-add.html',600,400)"><i class="layui-icon"></i>新增</button>
      <button class="layui-btn layui-btn layui-btn-xs"  onclick="xadmin.open('编辑','admin-edit.html')" ><i class="layui-icon">&#xe642;</i>编辑</button>
    </div>
  </div>
  <div class="layui-card-body layui-row layui-col-space10">
    <div id="resumeExpPanel" class="layui-col-sm12">
      <div class="layui-form-item" style="display:none">
        <span class="layui-col-sm4">2008.09-2012.06</span>
        <span class="layui-col-sm2">德邦物流</span>
        <span class="layui-col-sm2">招聘经理</span>
        <span class="layui-col-sm2">2年6个月</span>
        <span class="layui-col-sm2">离职原因</span>
      </div>
    </div>
  </div>
