{
    "company":
        {
            "name":"华为投资控股有限公司",
            "short_name":"华为",
            "description":"华为是全球领先的ICT(信息与通信)基础设施和智能终端提供商,致力于把数字世界带入每个人、每个家庭、每个组织,构建万物互联的智能世界。",
            "scale":170000,
            "area":"通信",
            "cType":"民营企业"
        }
}
