{% extends "recruit_manager/table_basic.html" %}
{% load static %}
{% block content %}
<div class="table-responsive">
  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
      <tr>
        <th>*Resume</th>
        <th>*Post</th>
        <th>Active</th>
      </tr>
    </thead>
  </table>
</div>
{% endblock %}

{% block extra_js %}
<script>
 $(document).ready(function() {
   var table = $('#dataTable').DataTable({
     "processing": true,
     "serverSide": true,

     "ajax": {
       "url": "/api/interviews/",
       "type": "GET",
     },

     "columns": [
       {"data": "resume"},
       {"data": "post"},
       {"data": "is_active"},
     ],
   });
 });
</script>
{% endblock%}
